.tunerapp {
    -fx-background-color: #313540;
}

Label {
    -fx-text-fill: #CCD5DE;
}

.note-label {
    -fx-min-width: 60px;
    -fx-pref-width: 60px;
    -fx-alignment: center-left;
    -fx-font-family: "Monospace Regular";
    -fx-font-size: 12px;
}

.frequency-label {
    -fx-alignment: center-left;
    -fx-font-family: "Monospace Regular";
    -fx-font-size: 12px;
}
