<!DOCTYPE html>
<html th:lang="#{language}" th:xmllang="#{language}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general :: head}"></head>
<body>
<header th:replace="~{fragments/general :: header}"></header>

<main>
    <div class="container">
        <h2>Let's Bend</h2>
        <div class="select-container">
            <select class="form-control" id="supportedKeys" onchange="handleSelectionChange()"
                    th:name="supportedKeys">
                <option disabled selected th:if="${harmonica == null}" value="">Bitte wählen...</option>
                <option th:each="key : ${supportedKeys}"
                        th:selected="${key == harmonica.getKeyName()}"
                        th:text="${key}"
                        th:value="${key}">
                </option>
            </select>
            <select class="form-control" id="supportedTunes" onchange="handleSelectionChange()"
                    th:name="supportedTunes">
                <option disabled selected th:if="${harmonica == null}" value="">Bitte wählen...</option>
                <option th:each="tune : ${supportedTunes}"
                        th:selected="${tune == harmonica.getTuneName()}"
                        th:text="${tune}"
                        th:value="${tune}">
                </option>
            </select>
        </div>
        <button id="start">Start</button>
        <button disabled id="stop">Stop</button>
        <div id="resultHarmonica" style="margin-top: 20px; padding: 10px; border: 1px solid #ddd;">
            <p th:if="${harmonica != null}">
                Key: <span  id="harmonicaKey"
                            th:text="${harmonica.getKeyName()}"></span> <br />
                Tune: <span id="harmonicaTune"
                            th:text="${harmonica.getTuneName()}"></span>
            </p>
            <p th:if="${harmonica == null}">
                Keine Harmonica in der Session vorhanden.
            </p>
        </div>
        <div id="result" style="margin-top: 20px; padding: 10px; border: 1px solid #ddd;">
            Ergebnis wird hier angezeigt...
        </div>
        <div th:replace="fragments/harmonica-grid :: harmonicaGrid"></div>
    </div>
</main>

<footer th:replace="~{fragments/general :: footer}"></footer>

<script th:inline="javascript" type="module">
    import PitchDetectionUtil from './scripts/PitchDetectionUtil.js';
    import NoteLookup from './scripts/NoteLookup.js';
    import NoteUtils from './scripts/NoteUtils.js';

    NoteLookup.concertPitch=442;

    const precision = 0.7;

    let resultDiv;

    let mediaStream;
    let audioContext;
    let processorNode;

    /**
     * Initializes the WebSocket and audio processing once the DOM content is fully loaded.
     * Also sets up the event handlers for start and stop buttons.
     */
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.line').forEach(line => line.style.visibility = 'hidden');
        resultDiv = document.getElementById('result'); // The <div> where results will be displayed


        // Start button event handler
        document.getElementById('start').addEventListener('click', async () => {
            // Disable the start button and enable the stop button
            document.getElementById('start').disabled = true;
            document.getElementById('stop').disabled = false;

            try {
                // Request microphone access
                mediaStream = await navigator.mediaDevices.getUserMedia({audio: true});
                audioContext = new AudioContext({sampleRate: 44100});

                // Create an audio source from the media stream
                const source = audioContext.createMediaStreamSource(mediaStream);

                // Set up audio processor
                processorNode = audioContext.createScriptProcessor(4096, 1, 1);
                source.connect(processorNode);
                processorNode.connect(audioContext.destination);

                // Process audio data in real time and send it to the server
                processorNode.onaudioprocess = (e) => {
                    const audioData = e.inputBuffer.getChannelData(0); // Channel 0 (mono data)

                    const result = PitchDetectionUtil.detectPitchWithYIN(audioData, audioContext.sampleRate);
                    const noteName = NoteLookup.getNoteName(result.pitch);
                    if(noteName) {
                        const noteFrequency = NoteLookup.getFrequency(noteName);
                        const cents = NoteUtils.getCents(noteFrequency, result.pitch);
                        const data = {
                            noteName: noteName,
                            cents: cents,
                            confidence: result.confidence,
                        };
                        handleChange(data, precision);
                    }

                };

            } catch (err) {
                console.error("Error accessing the microphone:", err);
                resultDiv.innerHTML = "Error accessing the microphone: " + err.message;
                document.getElementById('start').disabled = false;
                document.getElementById('stop').disabled = true;
            }
        });

        // Stop button event handler
        document.getElementById('stop').addEventListener('click', () => {
            // Stop audio processing and close the stream
            if (processorNode) processorNode.disconnect();
            if (mediaStream) {
                mediaStream.getTracks().forEach(track => track.stop());
            }

            console.log("Streaming stopped");
            resultDiv.innerHTML = "Streaming stopped.";

            // Reset UI
            document.getElementById('start').disabled = false;
            document.getElementById('stop').disabled = true;
        });
    });
</script>
</body>
</html>